* {
    font-family: monospace;
    background-color: antiquewhite;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
    background-color: #131313;
    overflow: hidden;
    width: 100%;
    text-align: center;
    display: flex;
}

.navbar_contents {
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    background-color: #131313;
    transition: .5s;
}

.navbar a:hover {
    background-color: #dddddd;
    color: blueviolet;
    transition: .25s;
}
